@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}

.cart_table {
    width: calc(65%);
}

.cart_menu {
    width: calc(30%);
}

.swiper-pagination-bullet-active {
    background-color: #BAA898 !important;

}

/* Пример для позиционирования сообщений */
.ant-message-topLeft {
    position: absolute !important;
    top: 80px !important;
}

.transformCard {
    transition: transform 200ms ease-in-out 150ms;
}

.transformCard:hover {
    transform: translateY(-1px) scale(1.1);
}

.qw {
    transition: background-color 200ms ease-in-out;
    /* Плавное изменение фона */
}

.heart-icon {
    color: black;
    /* Начальный цвет сердца (черный) */
    transition: color 200ms ease-in-out;
    /* Плавное изменение цвета */
}

.qw:hover {
    background-color: #C44B4B;
    /* Красный фон при наведении */
}

.qw:hover .heart-icon {
    color: white;
    /* Белый цвет сердца при наведении */
}

.formFields {
    border: 0.5px solid;
    border-radius: 5px;
    padding: 20px 0px;
    width: 400px;
}