@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
} */

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}

.cart_table {
    width: calc(65%);
}

.cart_menu {
    width: calc(30%);
}

.swiper-pagination-bullet-active {
    background-color: #BAA898 !important;

}

/* Пример для позиционирования сообщений */
.ant-message-topLeft {
    position: absolute !important;
    top: 80px !important;
}

.transformCard {
    transition: transform 200ms ease-in-out 150ms;
}

.transformCard:hover {
    transform: translateY(-1px) scale(1.1);
}

.qw {
    transition: background-color 200ms ease-in-out;
    /* Плавное изменение фона */
}

.heart-icon {
    color: black;
    /* Начальный цвет сердца (черный) */
    transition: color 200ms ease-in-out;
    /* Плавное изменение цвета */
}

.qw:hover {
    background-color: #C44B4B;
    /* Красный фон при наведении */
}

.qw:hover .heart-icon {
    color: white;
    /* Белый цвет сердца при наведении */
}

.formFields {
    border: 0.5px solid;
    border-radius: 5px;
    padding: 12px 15px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.contact_infoblock_title {
    font-weight: 600;
    font-size: 24px;
}

.contact_infoblock_text {
    font-size: 16px;
}

.section {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* spinner */

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: red !important;
    fill: red !important;
    stroke: red !important;
}

.button{
    width: fit-content; /* w-fit */
    padding: 0.75rem 2rem; /* py-3 px-8 */
    font-size: 12px; /* text-[12px] */
    border: 1px solid black; /* border border-black */
    font-weight: 600; /* font-semibold */
    border-radius: 0.5rem; /* rounded-lg */
    transition: all 0.3s ease-in-out; /* transition ease-in-out */
    cursor: pointer; /* Добавлено для интерактивности */
}
.button:hover{
    background-color: #FFF3E3; /* hover:bg-[#FFF3E3] */
    transform: translateY(-1px) scale(1.1); /* hover:-translate-y-1 hover:scale-110 */
}