@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}

.cart_table{
    width: calc(65%);
}

.cart_menu{
    width: calc(30%);
}